{% extends 'app/layout.html' %}

{% block body %}
<a  href="addtask">
<button class="submit-button fas fa-plus fa-5x fa-fw">
  </button>
</a>
   
    {% comment %} Tasks
    <!-- <ol>
        <li>
            task1 <a href="taskdetails">(Details)</a>
        </li>
        <li>
            task2 <a href="taskdetails">(Details)</a>
        </li>

        <li>
            task3 <a href="taskdetails">(Details)</a>
        </li>
    </ol> -->
    {% for i in res %}
        {{i}}
    {% endfor %}

    <a href="addtask">Post a Task</a> {% endcomment %}

{% endblock %}